stages:
  - test
  - build

test-rust-latest:
  stage: test
  image: rust:latest
  variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - chmod +x ./scripts/*.sh
    - ./scripts/build.sh
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'

test-rust-nightly:
  stage: test
  image: rustlang/rust:nightly
  variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - chmod +x ./scripts/*.sh
    - ./scripts/build.sh
  allow_failure: true
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'

build-event-relay:
  image: docker
  stage: build
  services:
    - docker:dind
  variables:
    SERVICE_NAME: event-relay
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE/$SERVICE_NAME:latest -f docker/Dockerfile . --build-arg SERVICE_NAME=$SERVICE_NAME
    - docker push $CI_REGISTRY_IMAGE/$SERVICE_NAME:latest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH