name: Test-Build-Push

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  test-rust-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Install system dependencies
      run: |
        sudo apt update -qq
        sudo apt-get -qq install pkg-config libssl-dev protobuf-compiler git
    - name: Add rustfmt and build
      run: |
        rustup component add rustfmt
        cargo build --verbose
        cargo test --verbose
        cargo fmt --all

  test-rust-nightly:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
    - name: Install system dependencies
      run: |
        sudo apt update -qq
        sudo apt-get -qq install pkg-config libssl-dev protobuf-compiler git
    - name: Add rustfmt and build
      run: |
        rustup component add rustfmt
        cargo build --verbose
        cargo test --verbose
        cargo fmt --all

  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository }}/flowgen:latest
        build-args: |
          SERVICE_NAME=flowgen